# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Turbo
.turbo/

# Env / secrets
.env
.env.local
.env.*.local
*.pem

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Coverage / test
coverage/
.nyc_output/

# Prisma
apps/api/prisma/*.db

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
